<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.remo.android.controller.sdk">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <permission
            android:name="tv.remo.android.controller.sdk.socket.controls"
            android:label="@string/controlSocketLabel"
            android:description="@string/controlSocketLabelPermissionDescription"
            android:protectionLevel="dangerous" />
</manifest>
