<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="tv.remo.android.controller">

    <application
            android:name=".RemoApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppThemeWithActionBar" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.MainActivity" android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity android:name=".activities.SettingsActivity"/>
        <activity android:name=".activities.SplashScreen" android:label="@string/app_display_name"
                android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.UsbInterceptor"
                android:excludeFromRecents="true"
                android:exported="false"
                android:label="Remo.TV USB"
                android:noHistory="true"
                android:process=":UsbEventReceiverActivityProcess"
                android:taskAffinity="tv.remo.android.controller.taskAffinityUsbEventReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                    android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/usb_device_filter" />
        </activity>
    </application>

</manifest>